
body {background-color: black;}



#logo {
    height: 250px;
    background-image: url(brasas.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    }   

    #logo img { 
        display: block;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
        
        
    }

    #logo h1 {
        color: #ff9900ff;
        font-size: 35px;
             }


.chef {
    background-image: url(chef.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: #ff9900ff;
}

.chef ul { 
    color: black;
    list-style-type:none;
    text-decoration: underline;
    
    


}

.chef h2 { 
    text-align: center;
    padding-top: 100px;
}

.chef p {
    text-align: center;
    width: 500px;
    padding-left: 485px;
        
}





   
  



    



       
    


  



        
        
       
        
    




    

   
    



    





    
                   



    
